@if (button != "") {
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" attr.data-bs-target="#{{ id }}">{{ button }}</button>
}
<div class="modal fade" id="{{ id }}" tabindex="-1" attr.aria-labelledby="{{ modalLabel }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="{{ modalLabel }}">{{ title }}</h3>
				<button id="{{ closeButton }}" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<ng-container *ngTemplateOutlet="body || defaultBody" />
			</div>
		</div>
	</div>
</div>

<ng-template #defaultBody>
    <div>This is the modal body</div>
</ng-template>