<h1>Ventas</h1>
<div class="content">
    <!-- Add search by date component -->
    <app-search-form (formSubmitted)="getSearchFormInput($event)"></app-search-form>
    <!-- Add register sale component -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addSaleModal">Agregar</button>
    <div class="modal fade" id="addSaleModal" tabindex="-1" aria-labelledby="addSaleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="addSaleModalLabel">Registrar venta</h3>
                    <button id="addSaleModalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-sale-add [apiProducts]="products" [apiSalespeople]="salespeople" (formSubmitted)="addNewSale($event)" />
                </div>
            </div>
        </div>
    </div>
    <!-- Table begins -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Importe</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
        @for (sale of sales; track sale.id) {
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.salesDate | date:'YYYY-MM-dd' }}</td>
                <td>{{ sale.salesman.fullName }}</td>
                <td>{{ sale.total | currency }}</td>
                <td>
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" attr.data-bs-target="#showSaleModal{{sale.id}}">Ver</button>
                    <!-- Modal begins-->
                    <div class="modal fade" id="showSaleModal{{sale.id}}" tabindex="-1" aria-labelledby="showSaleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="showSaleModalLabel">Detalles de venta</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- modal content -->
                                    <b>Fecha de venta:</b> {{ sale.salesDate | date:'medium' }} <br>
                                    <b>Vendedor:</b> {{ sale.salesman.fullName }} <br>
                                    <br>
                                    <b>Productos:</b>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Precio Unitario</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @for(product of sale.products; track $index) {
                                            <tr>
                                                <td>{{ product.id }}</td>
                                                <td>{{ product.name }}</td>
                                                <td>{{ product.unitPrice | currency }}</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                    <b>Total: {{ sale.total | currency }}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal ends -->
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="5" class="text-center">No existen resultados</td>
            </tr>
        }
        </tbody>
    </table>
    <!-- Table ends -->
</div>
