<!-- render error messages -->
<app-alert [message]="errorMessage"/>
<h1>Ventas</h1>
<div class="content">
    <!-- Add search by date component -->
    <app-search-form (formSubmitted)="getSearchFormInput($event)"></app-search-form>
    <!-- Add register sale component -->
    <ng-template #addSaleForm>
        <app-sale-add [apiProducts]="products" [apiSalespeople]="salespeople" (formSubmitted)="addNewSale($event)" />
    </ng-template>
    <app-modal [name]="newSaleModal.name" [title]="newSaleModal.title" [button]="newSaleModal.button" [body]="addSaleForm"/>
    <!-- Table begins -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nro</th>
                <th scope="col">Fecha</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Importe</th>
                <th scope="col">Detalles</th>
            </tr>
        </thead>
        <tbody>
        @for (sale of sales; track sale.id) {
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.salesDate | date:'YYYY-MM-dd' }}</td>
                <td>{{ sale.salesman.fullName }}</td>
                <td>{{ sale.total | currency }}</td>
                <td>
                    <button type="button" class="btn btn-link" data-bs-toggle="modal" attr.data-bs-target="#showSale{{sale.id}}Modal">Ver</button>
                    <ng-template #showSale>
                        <app-sale-show [sale]="sale"/>
                    </ng-template>
                    <app-modal [name]="showSaleModal.name + sale.id" [title]="showSaleModal.title" [body]="showSale"/>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="5" class="text-center">No existen resultados</td>
            </tr>
        }
        </tbody>
    </table>
    <!-- Table ends -->
</div>
